:root {
    --mono-font: "Courier New", monospace;
    --chord-color: #1a4da3;
}

body {
    font-family: Arial, sans-serif;
    background: #fafafa;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    //    margin: 2rem;
    line-height: 1.2;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
}
th, td {
    border: 1px solid #ccc;
    padding: 4px 12px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
a {
    color: #0366d6;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

pre {
    white-space: pre-wrap;
    font-family: var(--mono-font);
}

.chordline {
  font-family: var(--mono-font);
  color: var(--chord-color);
  font-weight: bold;
  display: none;          /* is set to "inline-block" with java script, enable vertical padding */
  padding: 0 0 0 0px;         /* more space above (2px), less below (0) */
  line-height: 1;                 /* keeps the box compact */
  vertical-align: -0.25em;        /* nudge the box up a bit */
  /* optional cosmetics
  background: #eef;
  border-radius: 4px;
  */
}

#controls {
    position: fixed;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.95);
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    font-family: Arial, sans-serif;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    gap: 8px;

    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 500px;
}

#controls.collapsed {
    max-height: 39px; /* height of just the toggle button */
}

/* Scroll controls */
#controls button {
    margin: 4px;
    padding: 6px 12px;
    font-size: 14px;
}
